@model SketchBoard.Models.SketchModel

<h1>Sketch Panel</h1>
<div style="background-color:red" class='mainSketchBoardArea'>
   <canvas width="1000" height="1000" style="background-color:chartreuse;" class="sketchCanvas" draw-data="@Model.Id"></canvas>
</div>
<script>


    function refreshCanvas() {
        $('.mainSketchBoardArea').each(
        function () {
            $(this).css('background-color', 'lime');
            $(this).css('height', $(this).width());
        }
        );
        $('.sketchCanvas').each(
            function () {
                var w = $(this).parent().width();
                var h = $(this).parent().height();
                $(this).css('width', w);
                $(this).css('height', h);
                //Test purpose only
                dummyDrawCanvas($(this), $(this).attr('draw-data'));
            }
         )
    }

    //Test purpose only
    function dummyDrawCanvas(target, data) {
        var ratio = $(this).width / 1000.0;
        var canvas = target[0];
        var ctx = canvas.getContext("2d");

        ctx.lineWidth = 15;
        ctx.strokeStyle = 'yellow';
        ctx.beginPath();
        ctx.moveTo(0, 0);
        ctx.lineTo(500, 500);
        ctx.stroke();
        ctx.moveTo(500, 0);
        ctx.lineTo(0, 500);
        ctx.stroke();

        ctx.font = "50px Arial";
        ctx.fillText(data, 500, 500);

    }


</script>