<br/>
<div id="en" class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1>Woody Chang</h1>
        </div>
        <div class="col-xs-4">
            <button data-spy="affix" class="btn btn-info text-right" id="switch-tw">中文</button>
        </div>
    </div>
    <h3>Summary</h3>
    I’ve participated in startup of a company with product sold to more than 50 countries.<br />
    Long term in-depth experience and solid achievement in software development, mechanical engineering, marketing/sales, and finance.<br />
    Great cross-field communication ability, connecting people in different domain with their perspective and language.<br />
    <h3>Contact infomation</h3>
    <ul>
        <li>Email: <a href="mailto:woodychang0611@gmail.com">woodychang0611@gmail.com</a></li>
    </ul>
    <h3>Education</h3>
    <ul>
        <li>Mechanical Engineering Bachelor National Taiwan University</li>
    </ul>
    <h3>Working Experience</h3>
    <ul>
        <li>Sales Manager: 2010-2015</li>
        <li>Software Engineer: 2008-2015</li>
        <li>Finance Manager: 2007-2015</li>
        <li>Mechanical Engineer: 2005-2009</li>
    </ul>
    <h3>Achievement</h3>
    <h5>Mechanical Engineering</h5>
    <ul>
        <li>Camera housing design</li>
        <li>2-Axis mirror mechanism design</li>
        <li>Coordinate supplier and subcontractor</li>
    </ul>
    <h5>Software Development</h5>
    <ul>
        <li>Active tracking camera proof of concept prototype model (C++ with MFC)</li>
        <li>Imaging processing algorithm library development (C++) </li>
        <li>Production automatic testing tools (C#)</li>
        <li>EDM Sender (C#)</li>
        <li>Camera installation tool (C# with WPF)</li>
        <li>Maintain company website</li>
    </ul>
    <h5>Marketing/Sales</h5>
    <ul>
        <li>Account management</li>
        <li>International exhibition</li>
        <li>Support partner’s seminar</li>
        <li>Email marketing</li>
        <li>Import/Export shipping arrangement</li>
    </ul>
    <h5>Finance</h5>
    <ul>
        <li>Financial report compiling</li>
        <li>Prepare PBC (Provided by Client) items for audit</li>
    </ul>
</div>


<div id="tw" class="container" style="display:none">
  
    <div class="row">
        <div class="col-xs-8">
            <h1>張天慈</h1>
        </div>
        <div  class="col-xs-4">
            <button data-spy="affix" class="btn btn-info text-right" id="switch-en">English</button>
        </div>
    </div>
    <h3>簡介</h3>
    I’ve participated in startup of a company with product sold to more than 50 countries.<br />
    Long term in-depth experience and solid achievement in software development, mechanical engineering, marketing/sales, and finance.<br />
    Great cross-field communication ability, connecting people in different domain with their perspective and language.<br />
    <h3>聯絡資訊</h3>
    <ul>
        <li>Email: <a href="mailto:woodychang0611@gmail.com">woodychang0611@gmail.com</a></li>
    </ul>
    <h3>學歷</h3>
    <ul>
        <li>台灣大學機械工程學士</li>
    </ul>
    <h3>工作經驗</h3>
    <ul>
        <li>Sales Manager: 2010-2015</li>
        <li>Software Engineer: 2008-2015</li>
        <li>Finance Manager: 2007-2015</li>
        <li>Mechanical Engineer: 2005-2009</li>
    </ul>
    <h3>Achievement</h3>
    <h5>Mechanical Engineering</h5>
    <ul>
        <li>Camera housing design</li>
        <li>2-Axis mirror mechanism design</li>
        <li>Coordinate supplier and subcontractor</li>
    </ul>
    <h5>Software Development</h5>
    <ul>
        <li>Active tracking camera proof of concept prototype model (C++ with MFC)</li>
        <li>Imaging processing algorithm library development (C++) </li>
        <li>Production automatic testing tools (C#)</li>
        <li>EDM Sender (C#)</li>
        <li>Camera installation tool (C# with WPF)</li>
        <li>Maintain company website</li>
    </ul>
    <h5>Marketing/Sales</h5>
    <ul>
        <li>Account management</li>
        <li>International exhibition</li>
        <li>Support partner’s seminar</li>
        <li>Email marketing</li>
        <li>Import/Export shipping arrangement</li>
    </ul>
    <h5>Finance</h5>
    <ul>
        <li>Financial report compiling</li>
        <li>Prepare PBC (Provided by Client) items for audit</li>
    </ul>
</div>

<script>
    $(
        function () {
            $('#switch-tw').on('click', function () {
                $('#en').css('display', 'none');
                $('#tw').css('display', 'block');
            });
            $('#switch-en').on('click', function () {
                $('#tw').css('display', 'none');
                $('#en').css('display', 'block');
            });
        }
    )

</script>