<br />
<div id="en" class="container">



    <div class="row">
        <div class="col-xs-8">
            <h1>Woody Chang</h1>
        </div>
        <div class="col-xs-4">
            <button data-spy="affix" class="btn btn-info text-right" id="switch-tw">中文</button>
        </div>
    </div>
    <h3>Summary</h3>
    Participated in a company with products sold to more than 60 countries from startup.<br />
    In-depth experience in software development, mechanical engineering, marketing/sales, and finance.<br />
    Effective cross-field communicator, connecting people in different domain with their perspective.<br />
    Quick learner, adaptable to new responsibilities<br />

    <h3>Contact information</h3>
    <ul>
        <li>Email: <a href="mailto:woodychang0611@gmail.com">woodychang0611@gmail.com</a></li>
    </ul>
    <h3>Education</h3>
    <ul>
        <li>Mechanical Engineering Bachelor National Taiwan University</li>
    </ul>
    <h3>Language</h3>
    <ul>
        <li>Chinese</li>
        <li>English (TOEIC score: 885)</li>
    </ul>
    <h3>Skill</h3>
    <ul>
        <li>C, C++, C#, HTML, JavaScript, jQuery</li>
        <li>CATIA</li>
    </ul>
    <h3>Professional Experience</h3>
    <h5>Sunvision Scientific Inc.</h5>
    <ul>
        <li>Sales Manager: 2010-2015</li>
        <li>Software Engineer: 2008-2015</li>
        <li>Finance Manager: 2007-2015</li>
        <li>Mechanical Engineer: 2005-2009</li>
    </ul>
    <h3>Achievement</h3>
    <h5>Mechanical Design</h5>
    <ul>
        <li>Camera housing design</li>
        <li>2-Axis mirror mechanism design</li>
    </ul>
    <h5>Software Development</h5>
    <ul>
        <li>Active tracking camera proof of concept prototype model (C++ with MFC)</li>
        <li>Imaging processing algorithm library development (C++) </li>
        <li>Production automatic testing tools (C#)</li>
        <li>EDM Sender (C#)</li>
        <li>Camera installation tool (C# with WPF)</li>
        <li>Maintain company website</li>
    </ul>
    <h5>Marketing/Sales</h5>
    <ul>
        <li>Account management</li>
        <li>International exhibition</li>
        <li>Support partner’s seminar</li>
        <li>Email marketing</li>
        <li>Import/Export shipping arrangement</li>
    </ul>
    <h5>Finance</h5>
    <ul>
        <li>Financial report compiling</li>
        <li>Prepare PBC (Provided by Client) items for audit</li>
    </ul>
    <h3>Biography</h3>
    <div class="col-xs-8">

        <p>
            During my last year in college, my father had a new invention about surveillance system– Active Tracking Surveillance Camera – a two cameras tracking system with a mirror reflection mechanism. To proof the concept, I built a proof of concept prototype model before having my military service. Then my farther founded Sunvision Scientific Inc. to bring Active Tracking Surveillance Camera to the world.
        </p>
        <p>
            After finishing my military service, I joined Sunvision Scientific Inc. and focused on developing mirror reflection mechanism, camera housing and other mechanical parts. Making mass production product were quite different from building prototype. Lots more factors needed to be concerned. Plenty of discussion with different people have to be done before any detail settled.
        </p>
        <p>
            The first model of Active Tracking Camera was released on March 2006 during SecuTech Expo 2006. Just like other exhibitions followed, the announcement was very success, our booth was always full with visitors. On April 2008, we brought our second model to the market, a standalone version which is easier for integration, to the market. Our product was sold to more than 60 countries around the globe in a short time.
        </p>
        <p>
            In order to enhance the value of our product, we also focused on intelligent surveillance. I personally built the basic library for imaging processing. We also started developing our own license plate recognize system since the images we got were different from others and existing system didn’t work well.
        </p>
        <p>
            However, reputation and attraction didn’t become cash flow quickly. It was easy for clients to be interested and purchase samples. But getting orders with large quantity was other thing. Unlike consumer products, our product was mostly used for projects. At best case scenarios, it still required at least 2~3 years to get a result. Since cash was running out and we couldn’t reach break-even point as expected, we were force to cut budget in all aspects. Due to manpower shortage, I took part in marketing and sales. My mission then included not only providing customer service for existing clients, but also making promotion for new customer development.
        </p>
        <p>
            Despite facing financial difficulties, we still released our third model, network camera, on June 2012.Our development language were changed from C++/MFC to .NET framework at the same time. The new model had a much higher resolution and the performance was impressive. Lots of existing and new clients ordered the new model.
        </p>
        <p>
            Unfortunately, due to lack of funds, we could only launch limited marketing campaign. The long time projects needed to boom remain the same. The financial problems were still unsolved. Although our clients around the globe kept promoting our products and sending positive feedback, financial loss reached our limit and we were forced to put the company to an end on June 2015.
        </p>
    </div>
</div>


<div id="tw" class="container" style="display:none">
    <div class="row">
        <div class="col-xs-8">
            <h1>張天慈</h1>
        </div>
        <div class="col-xs-4">
            <button data-spy="affix" class="btn btn-info text-right" id="switch-en">English</button>
        </div>
    </div>
    <h3>簡介</h3>
    參與一家產品銷售至全球六十餘國的企業之創立<br />
    於軟體開發，機械設計，市場行銷和財務會計有長時間且深入的實務經驗<br />
    高效率跨領域溝通能力，透過對方的語言和觀點連結不同領域的人員<br />
    學習能力佳，快速適應不同的任務<br />
    <h3>聯絡資訊</h3>
    <ul>
        <li>Email: <a href="mailto:woodychang0611@gmail.com">woodychang0611@gmail.com</a></li>
    </ul>
    <h3>學歷</h3>
    <ul>
        <li>台灣大學機械工程學士</li>
    </ul>
    <h3>語言</h3>
    <ul>
        <li>中文</li>
        <li>英文 (TOEIC分數:885)</li>
    </ul>
    <h3>技能</h3>
    <ul>
        <li>C, C++, C#, HTML, JavaScript, jQuery</li>
        <li>CATIA</li>
    </ul>
    <h3>工作經驗</h3>
    <h5>朝陽影像科技股份有限公司</h5>
    <ul>
        <li>業務經理: 2010-2015</li>
        <li>軟體工程師: 2008-2015</li>
        <li>財務經理: 2007-2015</li>
        <li>機械工程師: 2005-2009</li>
    </ul>
    <h3>實績</h3>
    <h5>機械設計</h5>
    <ul>
        <li>攝影機機殼設計</li>
        <li>雙軸鏡面機構設計</li>
    </ul>
    <h5>軟體開發</h5>
    <ul>
        <li>主動式追蹤攝影機概念驗證樣品 (C++/MFC)</li>
        <li>影像處理函式庫開發 (C++)</li>
        <li>生產自動測試工具 (C#)</li>
        <li>EDM寄送程式 (C#)</li>
        <li>攝影機設定程式 (C#/WPF)</li>
        <li>維護企業網站 </li>
    </ul>
    <h5>市場行銷</h5>
    <ul>
        <li>客戶帳戶管理</li>
        <li>國際展覽</li>
        <li>支援海外夥伴宣傳活動</li>
        <li>Email行銷</li>
        <li>進出口運輸安排</li>
    </ul>
    <h5>財務會計</h5>
    <ul>
        <li>編制財報</li>
        <li>提供審計人員所需資料</li>ㄋ
    </ul>
    <h3>簡傳</h3>
    <div class="col-xs-8">

        <p>
            在我大學畢業前的最後一年，我父親有了一個關於監視系統的新發明。由雙攝影機和鏡面反射機構組成的主動式監視器。在服役之前，我完成了可運作的概念機。之後我父親為了將產品帶到市面上，創立了朝陽影像股份有限公司。
        </p>
        <p>
            完成兵役後我加入了朝陽影像科技，一開始重心放在鏡面機構，機殼以及相關機械配件的設計。量產產品設計和樣品機開發有很大的不同，任何細節定案前需考量許多因素並和各方經過大量討論才能定案。
        </p>
        <p>
            第一代的主動式監視器於2006三月在SecuTech正式發表。如同後續的展覽，我們的攤位總是訪客的焦點。第二代產品於2008上市，獨立型的版本更容易整合，產品在很短的時間內銷售至全球60餘國。
        </p>
        <p>
            為了增進產品的價值，我們同時也著重智慧監控。我個人建置了一些包括基本功能的影像處理函式庫。因為拍攝到的畫面和一般系統不同，第三方的影像辨識系統效果不佳，我們也嘗試開發車牌辨識系統。
        </p>
        <p>
            然而名望和注目並無法快速轉變為收入。獲得大量採購遠比引發客戶興趣並購買樣品困難。不像消費性產品，我方的產品大多用於專案採購。在最佳的狀況，一個專案需要2~3年才能有成果。因為現金快速流失，無法如預期達到損益兩平，無奈之餘只好在各方面進行預算控制。因為人力的不足，我開始參與行銷活動。除了提供服務現有的客戶，同時也進行宣傳活動，開發新的潛在客戶。
        </p>
        <p>
            儘管面臨財務困難，我們仍然在2012六月發表網路版本的第三代機型。同一時間我們也從C++/MFC轉移至.NET平台。新產品的解析度提高許多性能大幅提升並引人注目，許多新舊客戶採購樣品。
        </p>
        <p>
            不過因為資金的限制，我們只能進行非常有限的業務活動。專案需要長時間醞釀的問題仍然存在。儘管全球各地的客戶盡力推廣我們的產品並給予正向的回饋，虧損已經達到能負擔的極限，公司決定於2016六月正式結束營運。
        </p>
    </div>
</div>




<script>
    $(
        function () {
            $('#switch-tw').on('click', function () {
                $('#en').css('display', 'none');
                $('#tw').css('display', 'block');
            });
            $('#switch-en').on('click', function () {
                $('#tw').css('display', 'none');
                $('#en').css('display', 'block');
            });
        }
    )
</script>