<div class="container">
    <h1>Mechanical Design</h1>


    <div class="panel panel-info">
        <div class="panel-heading"><h3>Mirror Mechanism</h3></div>
        <div class="panel-body">
            <img class="thumbnail col-lg-12" src="~/Image/MirrorMechanism-1.png" alt="Mirror Mechanism" />
            <iframe class="col-xs-12 embed-responsive-item fix-aspect-ratio" aspect-ratio="0.75" src="https://www.youtube.com/embed/kDXwZzopef0"></iframe>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading"><h3>Camera Housing</h3></div>
        <img class="thumbnail col-lg-12" src="~/Image/SV3000-2_Sheet_1-1.png" alt="Camera Housing" />
        <img class="thumbnail col-lg-12"  src="~/Image/SV3000-2_Sheet_2-1.png" alt="Camera Housing" />
    </div>
</div>